.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.pagination-item.active {
  background-color: #ff8400;
}

.pagination-link-active {
  background-color: #ff8400;
}

.arrow-previous {
  transform: rotate(-180deg);
  color: #ff8400;
}

.arrow-next {
  margin-left: 10px;
  color: #ff8400;
}

.arrow-inactive {
  color: #e1e1e1;
}

.arrow-active {
  color: #ff8400;
}

.pagination-arrow-container {
  display: flex;
  align-items: center;
}